body {
	display: flex; 
	margin:0;
	justify-content:space-around; 
	align-items:center;
	font-family:'Ubuntu Mono';
	font-size:20px;
	color:black;
}

.projectsSpiel{
	max-height:90%;
	font-family:arial;
	/*background-color:red;*/
	max-width:61.8%;
}

.projectsSpiel a{
	color:cyan;
}

.spiel {
	max-width:50%;
}

.player{
	text-align:right;
}