body {
	display: flex; 
	margin:0;
	justify-content:space-around; 
	align-items:center;
	font-family:'Ubuntu Mono';
	font-size:20px;
	color:black;
}


.spiel {
	max-width:50%;
}

.player{
	text-align:right;
}